body {
  background-image: url("img.jpg");
  font-family: "Open Sans", sans-serif;
  background-size: cover; /* or contain, or a specific size in pixels */
  background-position: center; /* or a specific position in pixels */
  background-repeat: no-repeat; /* or repeat-x, repeat-y, repeat */
  height: 100vh;
  margin: 0;
  padding: 0;
}

#bmi-form {
  width: 420px;
  margin: 0 auto;
  background-color: rgb(129, 164, 164);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 185px;
  left: -400px;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 90%;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#calculateBtn {
  background-color: #586ec4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  font-size: 24px;
  margin-top: 20px;
}
